#searchIcon {
    float: right;
    height: 1.5vw;
    margin-right: 5vw;
}
#searchIconSvg {
    height: 100%;
    fill: #ffffff;
    transition: fill 0.2s ease;
}
#searchIconSvg:hover {
    height: 100%;
    fill: #ff2222;
    transition: fill 0.2s ease;
}

#content {
    visibility: hidden; /* hide wonky stuff until page loads */
}

#screenLanding {
    position: relative;
}

#landingImageCycler {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    z-index: -1;
}
#landingImageCyclerBackground {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    z-index: -10;
    background-color: #000000;
}

#landingImageCycler img {
    position: absolute;
    top: 0;
    z-index: -4;

    background-color: #000000;
}
#landingImageCycler img.transition {
    z-index: -3;
}
#landingImageCycler img.active {
    z-index: -2;
}

.featuredImage {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

#featuredPretitle {
    font-family: FuturaPTDemi, sans-serif;
    font-size: 1.5vw;
    letter-spacing: 0.15vw;
    color: #fff;

    margin-left: 7.7vw;
    margin-top: 13.6vw;
}

#featuredTitle {
    font-family: Miedinger, sans-serif;
    font-size: 6.2vw;
    letter-spacing: 0.2vw;
    color: #fff;

    float: left;
    margin-left: 7.4vw;
    margin-top: 0.95vw;
}
#featuredTitle b {
    font-family: MiedingerBold, sans-serif;
}
#featuredTitle:hover {
    color: #ddd;
}

#featuredText {
    font-family: FuturaPTMedium, sans-serif;
    font-size: 0.95vw;
    letter-spacing: 0.05vw;
    line-height: 1.6vw;
    color: #fff;

    clear: both;
    overflow: hidden;
    margin-left: 7.7vw;
    padding-top: 1.8vw;
}
#featuredText1 {
    float: left;
    width: 17.1875vw;
}
#featuredText2 {
    float: left;
    width: 17.1875vw;
    margin-left: 6.3vw;
}

/* ========================================== COLECCION ========================================= */

#collection {
    position: relative;
    background-color: #000;
}

#collectionTitle {
    color: #ffffff;
    padding-left: 7.8125vw;
    padding-top: 3.5vw;
}

.collectionArrow {
    font-family: FuturaPTDemi, sans-serif;
    font-size: 4.5vw;
    color: #fff;

    position: absolute;
    top: 3vw;
    height: 15.625vw;
    z-index: 1;
}
.collectionArrow:hover {
    color: #f00;
    cursor: pointer;
}
#collectionArrowLeftButton {
    left: 0;
    width: 7.8125vw;
}
#collectionArrowRightButton {
    left: 92.1875vw;
    right: 0;
}
#collectionArrowLeft {
    padding-left: 4.95vw;
    padding-top: 9.15vw;
}
#collectionArrowRight {
    padding-left: 1.4vw;
    padding-top: 9.15vw;
}

#collectionList {
    position: relative;
    height: 15.625vw;
    width: 1000vw; /* set by JS */
    overflow: auto;
    padding-top: 1.5625vw;
    padding-bottom: 3.125vw;
    padding-left: 6.25vw;
}

.collection {
    float: left;
    width: 27vw;
    height: 100%;
    margin-left: 1.5625vw;

    opacity: 100%;
    transition: opacity 0.2s ease;
}
.collection:hover {
    opacity: 70%;
    transition: opacity 0.2s ease;
}

.collection img {
    position: relative;
    height: 100%;
    object-fit: cover;
    overflow: hidden;

    background-color: #231F20;
}

/* ========================================= SUSCRIBETE ========================================= */

#subscribe {
    height: 15.625vw;
    width: 100%;

    background-color: #212226;
}

#subscribeLeft {
    float: left;
    overflow: hidden;
    padding-top: 1.5625vw;
    margin-left: 7.8125vw;
    height: 12.5vw;
    width: 42vw;
}
#subscribeLeft img {
    float: left;
    height: 100%;

    opacity: 100%;
    transition: opacity 0.2s ease;
}
#subscribeLeft img:hover {
    opacity: 70%;
    transition: opacity 0.2s ease;
}

.subscribeText {
    float: left;
    margin-left: 1.5625vw;
    width: 20vw;

    color: #ffffff;
}
.subscribeText h2 {
    margin-top: 1.5625vw;
    margin-bottom: 0.5vw;
}

#subscribeRight {
    float: left;
    overflow: hidden;
    padding-top: 1.5625vw;
    height: 12.5vw;
}
#subscribeRight img {
    float: left;
    height: 100%;

    opacity: 100%;
    transition: opacity 0.2s ease;
}
#subscribeRight img:hover {
    opacity: 70%;
    transition: opacity 0.2s ease;
}

.subscribeButton {
    display: inline-block;
    margin-top: 1.5625vw;
    padding: 0.2vw 0.78125vw;

    box-shadow: 2pt 2pt #75261c;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    background-color: #d23a28;
}

/* ========================================= RECIENTES ========================================== */

#recent {
    position: relative;
    overflow: hidden;
    background-color: #000;
    padding-top: 3.5vw;
    padding-bottom: 4.6875vw;
}

#recentArticles {
    float: left;
    margin-left: 7.8125vw;
    width: 50vw;
}
#recentArticlesTitle {
    color: #ffffff;
    margin-bottom: 1.5625vw;
}

.recentArticle {
    height: 9.375vw;
    margin-bottom: 1.5625vw;

    opacity: 100%;
    transition: opacity 0.2s ease;
}
.recentArticle:hover {
    opacity: 70%;
    transition: opacity 0.2s ease;
}
.recentArticleImage {
    float: left;
    width: 16.67vw;
    height: 100%;
    overflow: hidden;
}
.recentArticleImage img {
    height: 100%;
    object-fit: cover;
}
.recentArticleText {
    float: left;
    color: #ffffff;
    margin-left: 1.5625vw;
    width: 30vw;
}
.recentArticleTitle {
    margin-top: 1.5625vw;
    margin-bottom: 0.5vw;
}
.recentArticleMetadata {
    margin-bottom: 0.5vw;
}

#recentVideos {
    float: left;
    margin-left: 6.25vw;
    width: 28.125vw;
}
#recentVideosTitle {
    color: #ffffff;
    margin-bottom: 1.5625vw;
}

.recentVideo {
    margin-bottom: 1.5625vw;

    opacity: 100%;
    transition: opacity 0.2s ease;
}
.recentVideo:hover {
    opacity: 70%;
    transition: opacity 0.2s ease;
}
.recentVideoImage {
    width: 22.22vw;
    height: 12.5vw;
}
.recentVideoImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.recentVideoText {
    width: 30vw;

    color: #ffffff;
}
.recentVideoTitle {
    margin-top: 0.78125vw;
}
