<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- - - - - - - - - PAGE METADATA - - - - - - - - -->
    <title>No Pasa Nada</title>
    <meta name="description" content="{{ description }}">

    <!-- OpenGraph tags -->
    <meta property="og:type"        content="article">
    <meta property="og:title"       content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url"         content="https://www.nopasanada.com{{ uri }}">
    <meta property="og:image"       content="https://www.nopasanada.com{{ image }}">

    <!-- Twitter card -->
    <meta name="twitter:card"           content="summary">
    <meta name="twitter:title"          content="{{ title }}">
    <meta name="twitter:description"    content="{{ description }}">
    <meta name="twitter:url"            content="https://www.nopasanada.com{{ uri }}">
    <meta name="twitter:image"          content="https://www.nopasanada.com{{ image }}">

    <!-- schema.org -->
    <!-- TODO: ADD TAGS -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - FAVICON PACKAGE CONFIG - - - - - - - - -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../favicon-16x16.png">
    <link rel="manifest" href="../../../site.webmanifest">
    <link rel="mask-icon" href="../../../safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#f4efe8">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - -->

    <!-- Google Analytics - - - - - - - - - - - - - - - - -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146659981-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag("js", new Date());
        gtag("config", "UA-146659981-1");
    </script>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - --->

    <link rel="stylesheet" type="text/css" href="../../../css/global.css">
    <link rel="stylesheet" type="text/css" href="../../../css/text.css">
    <link rel="stylesheet" type="text/css" href="../../../css/header-footer.css">
    <link rel="stylesheet" type="text/css" href="../../../css/main.css">
    <link rel="stylesheet" type="text/css" href="../../../css/entry.css">
    <!-- <link rel="stylesheet" type="text/css" href="../../../css/guides.css"> -->
    
    <script type="application/javascript" src="../../../js/jquery-3.4.1.min.js"></script>
    <script type="application/javascript" src="../../../js/resize.js"></script>
    <script type="application/javascript" src="../../../js/article.js"></script>
</head>

<body>
    <div id="website">
        <div id="header">
            <h1 id="headerLogo">
                <a href="../../../#">
                    NO PASA NADA.
                </a>
            </h1>
            <div id="headerCategories">
                <div class="headerCategory">
                    <a href="../../../#noticias">
                        <h2>NOTICIAS</h2>
                    </a>
                    <div class="headerSubcategories">
                        <div class="headerSubcategory">
                            <a href="../../../#noticias-loimportante">
                                <h3>LO IMPORTANTE</h3>
                            </a>
                        </div>
                        <div class="headerSubcategory">
                            <a href="../../../#noticias-video">
                                <h3>VIDEO</h3>
                            </a>
                        </div>
                        <div class="headerSubcategory">
                            <a href="../../../#noticias-culturales">
                                <h3>CULTURALES</h3>
                            </a>
                        </div>
                        <div class="headerSubcategory">
                            <a href="../../../#noticias-politica">
                                <h3>POL&Iacute;TICA</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="headerCategory">
                    <a href="../../../#opinion">
                        <h2>OPINI&Oacute;N</h2>
                    </a>
                    <div class="headerSubcategories">
                    </div>
                </div>
                <div class="headerCategory">
                    <a href="../../../#guida">
                        <h2>LA GUIDA</h2>
                    </a>
                    <div class="headerSubcategories">
                        <div class="headerSubcategory">
                            <a href="../../../#guida-comida">
                                <h3>COMIDA</h3>
                            </a>
                        </div>
                        <div class="headerSubcategory">
                            <a href="../../../#guida-bebidas">
                                <h3>COCTELES Y BEBIDAS</h3>
                            </a>
                        </div>
                        <div class="headerSubcategory">
                            <a href="../../../#guida-viaje">
                                <h3>VIAJE</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="headerCategory">
                    <a href="../../../#venus">
                        <h2>VENUS</h2>
                    </a>
                    <div class="headerSubcategories">
                        <div class="headerSubcategory">
                            <a href="../../../#venus-derechos">
                                <h3>DERECHOS DE LAS MUJERES</h3>
                            </a>
                        </div>
                        <div class="headerSubcategory">
                            <a href="../../../#venus-inspiradoras">
                                <h3>MUJERES INSPIRADORAS</h3>
                            </a>
                        </div>
                        <div class="headerSubcategory">
                            <a href="../../../#venus-moda">
                                <h3>MODA</h3>
                            </a>
                        </div>
                        <div class="headerSubcategory">
                            <a href="../../../#venus-belleza">
                                <h3>BELLEZA</h3>
                            </a>
                        </div>
                        <div class="headerSubcategory">
                            <a href="../../../#venus-salud">
                                <h3>SALUD DE LA MUJER</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="headerCategory">
                    <a href="../../../#ludi">
                        <h2>LUDI</h2>
                    </a>
                    <div class="headerSubcategories">
                        <div class="headerSubcategory">
                            <a href="../../../#ludi-futbol">
                                <h3>F&Uacute;TBOL</h3>
                            </a>
                        </div>
                        <div class="headerSubcategory">
                            <a href="../../../#ludi-moto">
                                <h3>MOTO</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="headerCategory">
                    <a href="../../../#mas">
                        <h2>M&Aacute;S</h2>
                    </a>
                    <div class="headerSubcategories">
                        <div class="headerSubcategory">
                            <a href="../../../#mas-ambiente">
                                <h3>MEDIO AMBIENTE</h3>
                            </a>
                        </div>
                        <div class="headerSubcategory">
                            <a href="../../../#mas-saludmental">
                                <h3>SALUD MENTAL</h3>
                            </a>
                        </div>
                        <div class="headerSubcategory">
                            <a href="../../../#mas-saludyciencia">
                                <h3>SALUD Y CIENCIA</h3>
                            </a>
                        </div>
                        <div class="headerSubcategory">
                            <a href="../../../#mas-arteymusica">
                                <h3>ARTE Y M&Uacute;SICA</h3>
                            </a>
                        </div>
                        <div class="headerSubcategory">
                            <a href="../../../#mas-cine">
                                <h3>CINE</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="content">
            <div id="article">
                <div id="articleHeader" class="screen">
                    <div class="entryImage" style="background-image: url('{{ imageBaseUrl }}{{ image }}');">
                        <br>&#711;&#711;&#711;
                    </div>
                </div>
                <div id="articleContainer">
                    <!--
                    <div id="hcol41"></div>
                    <div id="hcol42"></div>
                    <div id="hcol43"></div>
                    <div id="hrow41"></div>
                    <div id="hrow42"></div>
                    <div id="hrow43"></div>
                    <div id="hrow44"></div>
                    <div id="hrow45"></div>
                    <div id="hrow46"></div>
                    <div id="hrow47"></div>
                    <div id="hrow48"></div>
                    <div id="hrow49"></div>
                    <div id="hrow410"></div>
                    <div id="hrow411"></div>
                    <div id="hrow412"></div>
                    <div id="hrow413"></div>
                    <div id="hrow414"></div>
                    <div id="hrow415"></div>
                    <div id="hrow416"></div>
                    -->

                    <div class="articleTitle">
                        <div class="backgroundColor" style="background-color: {{ color }};"></div>
                        {{ title }}
                    </div>
                    <div class="articleSubtitle">
                        <div class="backgroundColor" style="background-color: {{ color }};"></div>
                        {{ subtitle }}
                    </div>
                    <div class="articleSubtext">
                        <div class="articleSubtextLeft">
                            {{ subtextLeft }}
                        </div>
                        <div class="articleSubtextRight">
                            {{ subtextRight }}
                        </div>
                    </div>
                    <div class="articleSeparator">
                        ...
                    </div>
                    <div class="articleText">
                        {{ text }}
                    </div>
                </div>
            </div>
        </div>

        <div id="footer">
            <div id="footerRedStripe"></div>
            <h1 id="footerLogo">
                NO PASA NADA.
            </h1>
            <div class="footerSection">
                <h3 class="footerSectionCategory">
                    <a href="../../../content/201908/nopasanada">
                        SOBRE NOSOTROS
                    </a>
                </h3>
                <h3 class="footerSectionCategory">
                    <a href="../../../content/202002/publicidad">
                        PUBLICIDAD
                    </a>
                </h3>
                <h3 class="footerSectionCategory">
                    <a href="../../../content/202002/politica-de-cookies">
                        POL&Iacute;TICA DE COOKIES
                    </a>
                </h3>
                <h3 class="footerSectionCategory">
                    <a href="../../../content/202002/contacto">
                        CONTACTO
                    </a>
                </h3>
                <h3 class="footerSectionCategory">
                    <a href="../../../content/202002/terminos-y-condiciones">
                        T&Eacute;RMINOS Y CONDICIONES
                    </a>
                </h3>
            </div>
            <br>
            <div class="footerSection">
                <h3 class="footerSectionCategory">
                    NPN PRODUCCIONES S.A. © 2020
                </h3>
                <h3 class="footerSectionCategory">
                    Todos los derechos reservados.
                </h3>
            </div>
        </div>
    </div>
</body>
</html>
