<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- - - - - - - - - PAGE METADATA - - - - - - - - -->
    <title>No Pasa Nada</title>
    <meta name="description" content="{{ description }}">

    <!-- OpenGraph tags -->
    <meta property="og:type"        content="article">
    <meta property="og:title"       content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url"         content="https://www.nopasanada.com{{ uri }}">
    <meta property="og:image"       content="https://www.nopasanada.com{{ image }}">

    <!-- Twitter card -->
    <meta name="twitter:card"           content="summary">
    <meta name="twitter:title"          content="{{ title }}">
    <meta name="twitter:description"    content="{{ description }}">
    <meta name="twitter:url"            content="https://www.nopasanada.com{{ uri }}">
    <meta name="twitter:image"          content="https://www.nopasanada.com{{ image }}">

    <!-- schema.org -->
    <!-- TODO: ADD TAGS -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - FAVICON PACKAGE CONFIG - - - - - - - - -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../favicon-16x16.png">
    <link rel="manifest" href="../../../site.webmanifest">
    <link rel="mask-icon" href="../../../safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#f4efe8">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - -->

    <!-- Google Analytics - - - - - - - - - - - - - - - - -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146659981-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag("js", new Date());
        gtag("config", "UA-146659981-1");
    </script>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - --->

    <link rel="stylesheet" type="text/css" href="../../../css/global.css">
    <link rel="stylesheet" type="text/css" href="../../../css/text.css">
    <link rel="stylesheet" type="text/css" href="../../../css/header-footer.css">
    <link rel="stylesheet" type="text/css" href="../../../css/main.css">
    <link rel="stylesheet" type="text/css" href="../../../css/entry.css">
    
    <script type="application/javascript" src="../../../js/jquery-3.4.1.min.js"></script>
    <script type="application/javascript" src="../../../js/article.js"></script>
    <script type="application/javascript">const BASE_URL = "../../..";</script>
    <script type="application/javascript" src="../../../js/header.js"></script>
    <script type="application/javascript" src="../../../js/resize.js"></script>
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>

    <div id="website">
        <div id="header">
        </div>

        <div id="content">
            <div id="article">
                <div id="articleContainer">
                    <div class="textEntrySpacer"></div>

                    <div class="articleTitle">
                        <div class="backgroundColor" style="background-color: {{ color }};"></div>
                        {{ title }}
                    </div>
                    <div class="articleSubtitle">
                        <div class="backgroundColor" style="background-color: {{ color }};"></div>
                        {{ subtitle }}
                    </div>
                    <div class="articleSubtext">
                        <div class="articleSubtextLeft">
                            {{ subtextLeft }}
                        </div>
                        <div class="articleSubtextRight">
                            {{ subtextRight }}
                        </div>
                    </div>
                    <div class="articleSeparator">
                        ...
                    </div>
                    <div class="articleShareButtons">
                        <div class="fb-like" data-href="https://www.nopasanada.com{{ uri }}" data-width="" data-layout="button" data-action="like" data-size="large" data-share="true"></div>
                        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                    <div class="articleText">
                        {{ text }}
                    </div>
                    <div class="articleShareButtons">
                        <div class="fb-like" data-href="https://www.nopasanada.com{{ uri }}" data-width="" data-layout="button" data-action="like" data-size="large" data-share="true"></div>
                        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>
        </div>

        <div id="footer">
            <div id="footerRedStripe"></div>
            <h1 id="footerLogo">
                NO PASA NADA.
            </h1>
            <div class="footerSection">
                <h3 class="footerSectionCategory">
                    <a href="../../../content/201908/nopasanada">
                        SOBRE NOSOTROS
                    </a>
                </h3>
                <h3 class="footerSectionCategory">
                    <a href="../../../content/202002/publicidad">
                        PUBLICIDAD
                    </a>
                </h3>
                <h3 class="footerSectionCategory">
                    <a href="../../../content/202002/politica-de-cookies">
                        POL&Iacute;TICA DE COOKIES
                    </a>
                </h3>
                <h3 class="footerSectionCategory">
                    <a href="../../../content/202002/contacto">
                        CONTACTO
                    </a>
                </h3>
                <h3 class="footerSectionCategory">
                    <a href="../../../content/202002/terminos-y-condiciones">
                        T&Eacute;RMINOS Y CONDICIONES
                    </a>
                </h3>
            </div>
            <br>
            <div class="footerSection">
                <h3 class="footerSectionCategory">
                    NPN PRODUCCIONES S.A. © 2020
                </h3>
                <h3 class="footerSectionCategory">
                    Todos los derechos reservados.
                </h3>
            </div>
        </div>
    </div>
</body>
</html>
